<div class="py-4 px-2">
  <h4 class="h5">{% if article.authors|length > 1 %} Autores {% else %} Autor {% endif %}</h4>

  <div class="row pt-2">
    {% for author in article.authors %}
      <div class="card col-sm-12 mx-auto mb-2 p-2">
        <div class="card-body row pt-3 px-2">          
          <div class="col-12 col-md-4 my-auto text-center">
            <img class="rounded-circle mx-auto d-block" 
                {% if AUTHOR_DETAIL[author|string]['image'] %}
                  src="{{ AUTHOR_DETAIL[author|string]['image'] }}" alt="{{ author }}"
                {% else %}
                  src="/theme/images/authors/default.jpg"
                {% endif %}
                alt="avatar"
                width="150"
            />
            {% for social, url in AUTHOR_DETAIL[author|string]['social'].items() %}
            <a href="{{url}}" target="_blank" title="{{social}} de {{author}} " class="mt-3 px-1" style="text-decoration: none;">
              <i class="fa fa-{{social}} my-2" style="font-size:22px; color:rgb(78, 78, 78)"></i>
            </a>
            {% endfor %}
          </div>
          <div class="col-12 col-md-8">
            <div class="mt-3">
              <h5 class="card-title">{{AUTHOR_DETAIL[author|string]['name']}}</h5>
              <div style="max-width:500px">
                <span class="card-text">
                  {{ AUTHOR_DETAIL[author|string]['description'] }}
                </span>
              </div>
              <div class="card-text pt-1">
                <a href="{{ SITEURL }}/{{ author.url }}">
                  <small>Publicações de {{ AUTHOR_DETAIL[author|string]['name'] }}</small>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}

  </div>
</div>
